<!DOCTYPE html>
 <html>
  <head>
	 <title>Jihyun Nam - Audio</title>
	<meta charset="UTF-8" />
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/theme.css"/>
</head>
<body>

	<header>
		<div class="center">
			<h2>
				Web Programming Assignment 4 (WEB322-ZAA) 
			</h2>
		</div>
	</header>
	<nav>
		<div class="center">	
			
		<ul>	
				<li><a href="/">Home</a>
					<!-- click text "Home", direct to page home.html -->
			   </li>
			   <li><a href="list">List</a>
				   <!-- click text "List", direct to page list.html -->
			   </li>
			   <li><a href="table">Table</a>
				   <!-- click text "Table", direct to page table.html -->
			   </li>
			   <li><a href="audio">Audio</a>
				   <!-- click text "Audio", direct to page audio.html -->
			   </li>
			   <li><a href="video">Video</a>
				   <!-- click text "Video", direct to page video.html -->
			   </li>
				<!-- Assingnment4 PART2-->
				<li><a href="storefront">Storefront</a>
				<!-- click text "Storefront", direct to page video.html -->
				</li>
		</ul>
		</div>
	</nav>
		
	<section class="main center">
	
	<!-- Start your code here -->
	<h2>HTML5 Audio</h2>
	<figure>
		<audio  controls="controls" autoplay>
          <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.ogg" type="audio/ogg">
		</audio>
		<figcaption>
			Audio - Provided File
		 </figcaption>
	  </figure>
	
      <h2>
        Decribing content in the section
      </h2>
      <p>
        This page shows an example of audio.  I use the links provided.
      </p>
	
	</section>
	
	<!-- Timestamp here-->
	<mark>
        <script>
            var dt=new Date(document.lastModified);
             document.write('This page was last updated on '+dt.toLocaleString()) ;
        </script>
    </mark>

    <!-- Update Student Name with your name -->
	<footer>
	  <div class="center">
		  &copy; 2022 Jihyun Nam
	  </div>
	</footer>
</body>
</html>	  