<!DOCTYPE html>
 <html>
  <head>
      <title>Jihyun Nam </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/theme.css"/>
    </head>
<body>
	<header>
		<div class="center">
			<h2>
                Web Programming Assignment 4 (WEB322-ZAA)
            </h2>
		</div>
	</header>
	<nav>
		<div class="center">
           
		<ul>	
            <li><a href="/">Home</a>
                 <!-- click text "Home", direct to page home.html -->
            </li>
            <li><a href="list">List</a>
                <!-- click text "List", direct to page list.html -->
            </li>
            <li><a href="table">Table</a>
                <!-- click text "Table", direct to page table.html -->
            </li>
            <li><a href="audio">Audio</a>
                <!-- click text "Audio", direct to page audio.html -->
            </li>
            <li><a href="video">Video</a>
                <!-- click text "Video", direct to page video.html -->
            </li>
            <!-- Assingnment4 PART2-->
            <li><a href="storefront">Storefront</a>
                <!-- click text "Storefront", direct to page video.html -->
            </li>
		</ul>
		</div>
	</nav>
		
	<section class="main center">

    <!-- Task : fill in the page contents according the instruction in a3.pdf -->
	<h2> Welcome </h2>
        <p>Welcome to my to my Web Programming Assignment websit. <br> I will be demonstrating HTML5 principles, techniques, Routing in Express. This 
            stie contains 5 pages, incluing: <a href="/">Home</a>, <a href="list">Lists</a>, <a href="table">Tables</a>,
             <a href="audio">Audio</a>, <a href="video">Video</a> , <a href="storefront">Storefront</a>. </p>

    <h2> Short Reflect</h2>
    <p> What we have learned so far is that Development Environment, Web Serbers & HTTP Request, and Reponse Paradigm
    , Node.js, Concept of JavaScript, and Express.js and so on. <br> I belive that I am learning from basic concept of web Programming, <br>
    and I will be learned more advance of web progmming when this course finishes. I am excited!<br>
    </p>
    <h2> Introduction </h2>
        <p> This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web. </p>
    </section>

    <!-- Timestamp-->
    <mark>
        <script>
            var dt=new Date(document.lastModified);
             document.write('This page was last updated on '+dt.toLocaleString()) ;
        </script>
    </mark>

	<footer>
	  <div class="center">
		  &copy; 2022 Jihyun Nam
	  </div>
	</footer>
</body>
</html>	  